@model ShoppingListWebApp.Models.CheckoutCart
@{
    ViewData["Title"] = "Checkout Cart";
}

<h1>Checkout Cart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model.CheckoutCartList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
        <h3>Total: $@Model.Total</h3>
        <h3>Tax: $@Model.Tax</h3>
        <h3>Grand Total: $@Model.GrandTotal</h3>

}
    </tbody>
</table>
